h1, h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 30px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.header {
    background-image: url(https://pixabay.com/illustrations/background-art-abstract-watercolor-2633962/);
    text-align: center;
    font-size: 40px;
}
