h1, h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 50px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.header {
    background: url(https://lh3.googleusercontent.com/rDChTyMkxE8YlILUOVdv9aQ1SeGGnpiKostwvF2CpcQsYsR6vQolE-YJVQS5Kt4GW4AezEu8TWNrayqEt47gDktmtZsqt-vsXjEYEFyIUKlkxV6UbDZZ2gdJbafVN9--X4Cng9eA4g=w2400);
    text-align: center;
    font-size: 100px;
    font-family: 'Fredericka the Great', cursive;
}
headshot {
    position: relative;
    
}